a {
    text-decoration: none;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    margin: 3rem;
    
    font-size: 1.3rem;
    color: #000;
}
.div:hover {
    color: #EB5242;
}
.div:active {
    color: #f57163;
}