.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

body {
  background-image: url(./img/paper-01.jpg);
  background-position: top center;
  background-size: 110%;
}

.position {
  position: relative;
}

.addTodoButton {
  width: 1rem;
  
  display: fixed;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.img {
  width: 5rem;
}